<main class="app-home-page">
  <button type="button" name="button" ng-click="homeCtrl.fetchTransactionInfo()">Get Transactions</button>
  <p>
    WASSUP
  </p>
  <ul id="transactionsin2014">
    <div ng-repeat="month in homeCtrl.transactions['2014'] track by $index">
      <p>
        {{month.spent}}
      </p>

      <p>
        {{month.income}}
      </p>

    </div>

  </ul>
  <!-- <ul id="transactionsin2015">
    <div ng-repeat="(month, value) in homeCtrl.transactions">
      <p>
        2015/{{month}}
      </p>
      <p>
        Spent:${{value.spent}}
      </p>
      <p>
        Income: ${{value.income}}
      </p>

    </div>

  </ul>
  <ul id="transactionsin2016">
    <div ng-repeat="(month, value) in homeCtrl.transactions">
      <p>
        2016/{{month}}
      </p>
      <p>
        Spent:${{value.spent}}
      </p>
      <p>
        Income: ${{value.income}}
      </p>

    </div>

  </ul> -->


</main>
