<main class="app-home-page">
  <button type="button" name="button" ng-click="homeCtrl.fetchTransactionInfo()">Get Transactions</button>
  <p>
    WASSUP
  </p>
  <ul id="transactionsin2014">
    <li ng-repeat="(key, value) in homeCtrl.transactions2014">{{key}}:{{value}}</li>

  </ul>
  <ul id="transactionsin2015">
    <li ng-repeat="(key, value) in homeCtrl.transactions2015">{{key}}:{{value}}</li>


  </ul>
  <ul id="transactionsin2016">
    <li ng-repeat="(key, value) in homeCtrl.transactions2016">{{key}}:{{value}}</li>


  </ul>



</main>
