<main class="app-home-page">
  <button type="button" name="button" ng-click="homeCtrl.fetchTransactionInfo()">Get Transactions</button>
  <p>
    WASSUP
  </p>
  <ul id="transactionsin2014">
    <li>January: {{homeCtrl.tractions2014.January}}</li>
    <li>February: {{homeCtrl.tractions2014.February}}</li>
    <li>March: {{homeCtrl.tractions2014.March}}</li>
    <li>April: {{homeCtrl.tractions2014.April}}</li>
    <li>May: {{homeCtrl.tractions2014.May}}</li>
    <li>June: {{homeCtrl.tractions2014.June}}</li>
    <li>July: {{homeCtrl.tractions2014.July}}</li>
    <li>August: {{homeCtrl.tractions2014.August}}</li>
    <li>September: {{homeCtrl.tractions2014.September}}</li>
    <li>October: {{homeCtrl.tractions2014.October}}</li>
    <li>November: {{homeCtrl.tractions2014.November}}</li>
    <li>December: {{homeCtrl.tractions2014.December}}</li>

  </ul>
  <ul id="transactionsin2015">
    <li>January: {{homeCtrl.tractions2015.January}}</li>
    <li>February: {{homeCtrl.tractions2015.February}}</li>
    <li>March: {{homeCtrl.tractions2015.March}}</li>
    <li>April: {{homeCtrl.tractions2015.April}}</li>
    <li>May: {{homeCtrl.tractions2015.May}}</li>
    <li>June: {{homeCtrl.tractions2015.June}}</li>
    <li>July: {{homeCtrl.tractions2015.July}}</li>
    <li>August: {{homeCtrl.tractions2015.August}}</li>
    <li>September: {{homeCtrl.tractions2015.September}}</li>
    <li>October: {{homeCtrl.tractions2015.October}}</li>
    <li>November: {{homeCtrl.tractions2015.November}}</li>
    <li>December: {{homeCtrl.tractions2015.December}}</li>

  </ul>
  <ul id="transactionsin2016">
    <li>January: {{homeCtrl.tractions2016.January}}</li>
    <li>February: {{homeCtrl.tractions2016.February}}</li>
    <li>March: {{homeCtrl.tractions2016.March}}</li>
    <li>April: {{homeCtrl.tractions2016.April}}</li>
    <li>May: {{homeCtrl.tractions2016.May}}</li>
    <li>June: {{homeCtrl.tractions2016.June}}</li>
    <li>July: {{homeCtrl.tractions2016.July}}</li>
    <li>August: {{homeCtrl.tractions2016.August}}</li>
    <li>September: {{homeCtrl.tractions2016.September}}</li>
    <li>October: {{homeCtrl.tractions2016.October}}</li>
    <li>November: {{homeCtrl.tractions2016.November}}</li>
    <li>December: {{homeCtrl.tractions2016.December}}</li>

  </ul>



</main>
